html,body{
      overflow-x: hidden;
}
.avatar-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  background-color: #000000; /* Gray background */
  color: white;
  border-radius: 9999px; /* Full circle */
  width: 48px; /* Same as w-12 */
  height: 48px; /* Same as w-12 */
}
